.ContainerWishList__div{

    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin: auto;
    background-color: #E37E7E;
    width: 50%;
    height: 60vh;
    border: 2px solid red;
}


