.list-task__ul--insert{
    list-style: none;
}

.flex__li{
    display: flex;
    justify-content: space-between;
}

.div_flexLi{
    display:flex;
    justify-content:center;
    margin-top:3rem;
    width:33%;
}

.delete_images{
    width: 2rem;
}

.update_images{
    width: 2rem;
}

.button__accept--success{
    background:green
}

.button__cancel--error{
    background:red
}