.button-center__div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-center__div button {
    width: 15rem;
    height: 2.5rem;
    background-color: aqua;
}

.create-product__div--container {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 25rem;
    width: 50%;
    height: 50%;
    background-color: rgb(160, 139, 139);
}

.container-product__div {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.container-product__div h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.form-create-product__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-create-product__form div {
    display: flex;
    justify-content: center;
}

.form-label__div {
    width: 30%;
}

.label-product__label{
    display: inline-block;
    width: 10rem;
    font-size: 2rem;
}

.form-input__div {
    width: 30%;
}

.input-product__input{
    width: 100%;
}

.create-product__button {
    margin-top: 6rem;
    width: 50%;
    height: 3rem;
    background-color: skyblue;
    border-radius: 2rem;
}