.navbar__div--container {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(108, 220, 22); */
    background-color: rgb(19, 129, 148);
}

.flex__nav{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.navbar__img {
    width: 2rem;
    height: 2rem;
}

.logoWilson__img--logo {
    width: 10rem;
    height: 5rem;
}


.logoWilson__img--logo {
    mix-blend-mode: multiply;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 18rem;
}