.card-product__div--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info-product__div--container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.img-product__img{
    width: 80%;
}