.flex__div--status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #CA7272;
}

.status__div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.09rem solid black;
    width: 20%;
}

.active {
    text-decoration: none;
    color: yellow;
}

.desactive{
    text-decoration: none;
    color: black;
}